* {
    box-sizing: border-box;
}
body {
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
    .App {
        Nav {
            display: flex;
            flex-flow: wrap;
            font-size: 1.3rem;
            background-color: #777;
            padding: 1rem 5rem;
            a {
                color: orange;
                padding: 0 1rem;
                text-decoration: none;
            }
        }
    }
    .books {
        .book {
            display: flex;
            gap: 1.5rem;
            margin: 1.5rem;
            background-color: #111;
            max-width: 60%;
            img {
                min-width: 220px;
                height: 250px;
            }
            .bookBody {
                color: gray;
                .title {
                    color: rgb(179, 179, 125);
                }
                .description {
                    
                }
                .lang {
                    color: orange;
                }
            }
        }
    }
}
